body{
text-align:center;
margin:0 auto;
background-image: url('../images/fondo.png');
color:white;
background-attachment: fixed;
}


.contenedor{

margin: 0 auto;
text-align:left;
width:100%;
max-width: 1000px;
}

header{
	padding-top: 30px;

}



.name{

	float:left;	
}

.uno{
	display: block;
	float:left;
	padding-left: 50px;
	padding-top:10px;
}
.reel{
	  
}
.reel img{
	width:50%;
}
.about{
	 
}
.about img{
	width:50%;
    padding-top:10px;
}


.linkdn{
	display: block;
	float:left;
	padding-left: 50px;
	padding-top:30px;
}
.linkdn img{
	width:50%;
}
.contactar{
    font-family: Impact;
	font-size: 30pt;
	padding-top:30px;
	float:left;
      height:100px;
}



footer{
	clear:both;
	background-color:red; 
}


.fondoNegro{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #948F8F;
    opacity: .70;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    z-index: 200;
    display: none;
   
}

#contenido {
    position: fixed;
    margin: 0;
    top: 18%;
    left: 30%;
    width: 40%;
    height: 25%;
    min-width: 500px;
    min-height: 281px;
    color: #FFF;
    padding: 0 10px 10px 10px;
    border: none;
    z-index: 201;
    display: none;
    box-shadow: 3px 3px 3px #666;
    display: none;
    background: #000;
    padding: 10px;
}

.video{
    font-family: Consolas;
    font-size: 12pt;
    width:33%;
    float:left;
}

a:link   
{   
    color:red;
 text-decoration:none;   
}   
.spanish{
    font-family: Consolas;
    font-size: 12pt;
    width:45%;
    height:200px;
     padding: 10 10 10 10px; 
    float:left;

}
.english{
    font-family: Consolas;
    font-size: 13pt;
    width:45%;
    height:200px;
     padding: 10 10 10 10px; 
    float:right;
    
}

.spanish2{
    font-family: Consolas;
    font-size: 12pt;
    width:45%;
    height:10px;
     padding: 10 10 10 10px; 
    float:left;

}
.english2{
    font-family: Consolas;
    font-size: 13pt;
    width:45%;
    height:10px;
     padding: 10 10 10 10px; 
    float:right;
    
}

.marca{
    display: block;
    width:25%;
    height:200px;
    max-width: 25%;
    padding-top: 50px;
    float:left;
}
.marca img{
    width:70%;
}

li{
    display:inline-block;
}

.label{
    width:500px;
    width:300px;
}